@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  $primary-color: #3260a8;
  $purple: #3234a8;
  $orange: #eb8034;
  $font-size-p: 1rem;
  $font-family: "Roboto", sans-serif;
}

html,
body {
//   box-sizing: border-box;
  font-family: var($font-family);
  margin: 0 auto;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.meet-container {
  
//   display: grid;
//   grid-template-columns: 500px;
//   grid-template-rows: 100px;
  justify-content: center;

  border: 3px dashed $orange;
}

.read {
  color: $purple;
  display: flex;
  justify-content: center;
}

.teams-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 50px 50px 50px;
  justify-content: center;
}
